*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family: "Playfair Display", serif;
}

.clear{
	clear: both;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

html,body{
	height: 100%;
}

header{
	background-color: #1F1F1F;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	padding: 10px 2%;
}

header .logo img{
	float: left;
	width: 90px;
}

nav.menu-mobile{
	float: right;
	width: 50px;
	height: 50px;
	margin-top: 13px;
	margin-right: 10px;
	cursor: pointer;
	background-image: url('../imagens/icon-menu.png');
	background-size: 100% 100%;
	display: none;
}

nav.menu-mobile ul{
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 95px;
	background-color: #1F1F1F;
	display: none;
}

nav.menu-mobile ul li{
	border-top: 1px solid #C0C0C0;
	text-transform: uppercase;
	padding: 10px 0;
}

nav.menu-mobile a:hover{
	color: #a2a2a2;
}

nav.menu-desktop{
	float: right;
}

nav.menu-desktop ul{
	padding: 30px 0 ;
	list-style-type: none;
}

nav.menu-desktop ul li{
	float: left;
	font-size: 15px;
	padding: 0 20px;
	text-transform: uppercase;
}

nav.menu-desktop a:hover{
	text-decoration: none;
	color: #a2a2a2;
}

header ul a{
	text-decoration: none;
}

main{
	width: 100%;
	padding: 0 2%;
	background-color: #2C2C2C;
}

div.icons a.icon-whats, a.icon-insta{
	width: 70px;
	height: 70px;
	position: fixed;
	right: 1%;
	background-size: 100% 100%;
}

div.icons a.icon-whats{
	background-image: url("../imagens/icon-whatsapp.png");
	bottom: 20px;
}

div.icons a.icon-insta{
	bottom: 100px;
	background-image: url("../imagens/icon-instagram.png");
}

div.icons a.icon-whats:hover, a.icon-insta:hover{
	width: 80px;
	height: 80px;
	transition: width .5s, height .5s;
}

section.home .flex-container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

section.home .img-home{
	width: 50%;
	margin-top: 95px;
	padding: 30px;
}

.img-home img{
	width: 100%;
	border: 2px solid #C0C0C0;
	border-radius: 10px;
}

section.home .texto-home{
	width: 50%;
	margin-top: 95px;
	text-align: center;
	line-height: 50px;
	padding: 30px;
}

section.home .texto-home h1{
	font-size: 3rem;
}

section.home .texto-home p{
	font-size: 23px;
}

.texto-home button{
	width: 150px;
	height: 45px;
	cursor: pointer;
	font-size: 20px;
	border: 0;
	border-radius: 5px;
	background-color: #0c0c0c;
}

.texto-home button:hover{
	background-color: #1F1F1F;
}

.texto-home button a{
	text-decoration: none;
}

section.servicos{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

section.servicos h1{
	font-size: 3rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	padding: 10px;
	margin-top: 30px;
}
  
.grid-container div.item{
	background-color: #1F1F1F;
	padding: 10px;
	border: 2px solid #C0C0C0;
	border-radius: 10px;
	font-size: 25px;
}

.grid-container div.item h3,h4{
	text-transform: uppercase;
}

.grid-container div.item p {
	font-size: 20px;
	line-height: 2rem;
	margin-top: 5px;
}

.grid-container div.preco p {
	font-family: "Montserrat", sans-serif;
}

.grid-container div.preco span {
	background-color: white;
	color: black;
	border-radius: 14px;
	font-size: 35px;
}

.grid-container div.manutencao {
	margin-top: 25px;
}

.grid-container div.manutencao p{
	font-size: 23px;
	line-height: 35px;
}

.grid-container div.manutencao span{
	background-color: white;
	color: black;
	border-radius: 8px;
}

section.agendamento{
	padding: 40px 0;
}

section.agendamento h1{
	font-size: 2rem;
	text-align: center;
}

section.agendamento form { 
	width: 400px;
	margin: 20px auto;
	background-color: #1F1F1F;
	padding: 20px;
	border: 2px solid #C0C0C0;
	border-radius: 8px; 
}

section form input, form select {
	width: 100%;
	padding: 10px;
	color: black;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #C0C0C0;
	border-radius: 5px; 
}

section form input{
	font-family: Arial, Helvetica, sans-serif;
}

section form select{
	color: white;
	background-color: #1F1F1F;
}

section.agendamento form button {
	width: 100%;
	padding: 12px;
	cursor: pointer;
	background-color: #0c0c0c;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
}

section.agendamento form button:hover {
	background-color: #2C2C2C;
}

footer{
	text-align: center;
	background-color: #0c0c0c;
	padding: 15px;
	color: white; 
}

@media screen and (max-width: 1025px){
	section.home .texto-home h1{
		font-size: 35px;
	}
	
	section.home .texto-home p{
		font-size: 17px;
	}

	section.servicos h1{
		font-size: 35px;
	}

	.grid-container {
		margin-top: 15px;
	}

	.grid-container div.item{
		font-size: 20px;
	}

	.grid-container div.item p{
		line-height: 26px;
		font-size: 17px;
	}

	.grid-container div.preco span {
		font-size: 30px;
	}
}

@media screen and (max-width: 769px){
	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		display: block;
	}

	section.home .texto-home h1{
		font-size: 25px;
	}

	section.home .texto-home p{
		line-height: 25px;
		margin-top: 10px;
		font-size: 17px;
	}

	section.home .texto-home button{
		width: 120px;
		height: 40px;
		margin-top: 10px;
		font-size: 16px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		padding: 10px;
		margin-top: 30px;
	}
}

@media screen and (max-width: 480px){
	section.home .flex-container{
		display: block;
	}

	section.home .img-home{
		width: 100%;
	}
	
	section.home .texto-home{
		width: 100%;
		margin-top: 10px;
	}
	
	section.home .texto-home h1{
		font-size: 30px;
	}
	
	section.home .texto-home p{
		line-height: 30px;
		font-size: 20px;
	}

	section.home .texto-home button{
		width: 150px;
		font-size: 18px;
		margin-top: 20px;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		padding: 10px;
		margin-top: 30px;
	}

	section.agendamento form { 
		width: 300px;
	}

	footer{
		font-size: 14.8px;
	}
}

